takeumbrella/takeumbrella.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
takeumbrella/takeumbrella.xcodeproj/project.xcworkspace/xcuserdata/dsoft202211.xcuserdatad/UserInterfaceState.xcuserstate
takeumbrella/takeumbrella.xcodeproj/project.xcworkspace/contents.xcworkspacedata
takeumbrella/takeumbrella.xcodeproj/xcuserdata/dsoft202211.xcuserdatad/xcschemes/xcschememanagement.plist
takeumbrella/takeumbrella.xcworkspace/contents.xcworkspacedata
takeumbrella/Pods
takeumbrella/Podfile.lock
takeumbrella/.DS_Store
*.xcuserstate
takeumbrella/takeumbrella.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcbkptlist
